### Grass Community Practical data sorting worksheet
Made by Jonathan Garber

#### A Note about the organization of this folder
- This Notebook (.ipynb file) should be sitting in a folder with two Python Scripts ( Grass_error_check.py and grass_sort.py) as well as a subfolder called sort_folder
- ** Before you begin, you need to download all of the student's data entry spreadsheets and copy them into the sort_folder, that is the folder that the python scripts will look into to find the spreadsheets and cycle through them**
- Note, there is a sort_test folder as well, This is the previous year's sheets that you can use to 

#### General workflow to sort these spreadsheets
- 1) download the students data entry spreadsheets and copy them into the sort_folder
- 2.) Run the Grass_error_check script over them, this will flag errors where students have input non numbers
- 3.) Address errors in error readout
- 4.) Run the Sort_Pracs function from the grass_sort script
- 5.0 Address and combine additional species

### 2.) checking your data

!!!! Note run the following cells in order from top to bottom

In [ ]:
#get list of sheets from sort folder
import os, Grass_error_check, Grass_sort
import pandas as pd

In [2]:
#sets the working directory to run from 
use_dir = os.getcwd()+"\sort_folder_2017"
os.chdir(use_dir)

sheetlist = os.listdir(use_dir) #gets the list for sheets

In [3]:

Grass_error_check.check_data(use_dir, sheetlist)

could not upload abundance_2017.csv
Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx Has no pracs
 error value in Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx in column WS
 error value in Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx in column Quad1
could not upload NestedQuadrats_2017.csv
Plant Communities Data Entry 2017 final.xlsx Has no names
Plant Communities Data Entry 2017 final.xlsx Has no pracs
Plant Communities Data Entry 2017(1) (13).xlsx Has no names
Plant Communities Data Entry 2017(1) (13).xlsx Has no pracs
Plant Communities Data Entry 2017(1) (15).xlsx Has no names
Plant Communities Data Entry 2017(1) (15).xlsx Has no pracs
could not upload Wanderingsearch_2017.csv
could not upload ~$Plant Communities Data Entry EE.xlsx

{}

#### 3.)  now that we know where there errors are, address them or throw out the data
- Go into the spreadsheets and double check them, make sure everything in the data rows is a number, 
    - any text will be removed and treated as zero
- there may be errors with people not writing down their names or pracs - note the analysis runs fine with out that
    - It just enters the name of the spreadsheet as the team name
- or putting in the time data for the wander search as "'min:sec' instead of 'min.sec'

In [4]:
#Once you are done, check again
Grass_error_check.check_data(use_dir, sheetlist)

could not upload abundance_2017.csv
Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx Has no pracs
 error value in Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx in column WS
 error value in Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx in column Quad1
could not upload NestedQuadrats_2017.csv
Plant Communities Data Entry 2017 final.xlsx Has no names
Plant Communities Data Entry 2017 final.xlsx Has no pracs
Plant Communities Data Entry 2017(1) (13).xlsx Has no names
Plant Communities Data Entry 2017(1) (13).xlsx Has no pracs
Plant Communities Data Entry 2017(1) (15).xlsx Has no names
Plant Communities Data Entry 2017(1) (15).xlsx Has no pracs
could not upload Wanderingsearch_2017.csv
could not upload ~$Plant Communities Data Entry EE.xlsx

{}

#### 4.) use the sort function

In [5]:
df_quad_out, df_ws, df_nq = Grass_sort.grass_sort(use_dir, sheetlist)

could not upload abundance_2017.csv
could not upload NestedQuadrats_2017.csv
could not upload Wanderingsearch_2017.csv
could not upload ~$Plant Communities Data Entry EE.xlsx

In [6]:
#check the wander search data
df_ws

,sheet,groupID,Day/time,Names,3,6,9,12,15,18,21,24,27,30
0,Copy of Plant Communities Data Entry 2017 Thur...,1,NaN,Copy of Plant Communities Data Entry 2017 Thur...,4,4,5,7,10,13,15,16,16,18
1,Copy-of-Plant-Communities-Data-Entry-2017 Sand...,2,Friday 10am,Olivia King Sandy Lu & Julia Trevorah,4,5,6,7,8,10,11,13,15,17
2,Ecology Data.xlsx,3,Friday 10am,Laura Solly Esther Cowen â€¦,3,5,7,8,9,9,12,13,14,15
3,Friday 10am.xlsx,4,Friday 10am,Sonia Metz. Sarah Willington Ruashaan Seychel...,5,6,7,9,10,12,12,13,14,14
4,Plant Communities Data Entry 2017 (1).xlsx,5,Friday 10am,Andrew Penman Julie Kisslinger Adela Jarmasz...,4,6,9,9,10,11,12,12,14,17
5,Plant Communities Data Entry 2017 (2).xlsx,6,Thursday 10am,Aiden Ryan Tim James,2,7,10,12,12,14,16,16,19,22
6,Plant Communities Data Entry 2017 (3).xlsx,7,Thursday 10am,Emma Dragh Maddie Brown Max Dewez Adeline C...,2,6,8,10,10,10,11,12,12,13
7,Plant Communities Data Entry 2017 (4).xlsx,8,Thursday; 2:15 - 5:15,Prarthana Kanagaratnam Jocelyn Claire Fisher ...,0,2,4,5,6,6,7,7,7,7
8,Plant Communities Data Entry 2017 (5).xlsx,9,Thursday 2.15pm,Jianing Jiang Brendan Hook Xiaoqi Li Ming F...,6,6,8,8,9,12,12,15,15,17
9,Plant Communities Data Entry 2017 (6).xlsx,10,Friday 10am,Brigit Enya Michael ?,5,6,6,6,7,7,8,9,9,10
10,Plant Communities Data Entry 2017 (7).xlsx,11,Thusday 10am,James Tapa Maxwell Pearse Rizan Faiz Pravee...,6,9,11,13,16,16,18,18,18,18
11,Plant Communities Data Entry 2017 (8).xlsx,12,Thursday 2.15pm,Jonathan Goh Tze Khin Jolene Lim Jia Le Nguy...,3,4,6,6,7,9,10,10,11,13
12,Plant Communities Data Entry 2017 DQGZ.xlsx,13,Thursday 2:15pm,Dion Roufos Qixuan Liu Wing Yan Grace Mui Z...,3,4,5,5,5,5,5,6,6,6
13,Plant Communities Data Entry 2017 final.xlsx,14,NaN,Plant Communities Data Entry 2017 final.xlsx_1...,3,7,9,10,11,12,13,14,16,17
14,Plant Communities Data Entry 2017 friday 10am....,15,Friday 10 am,kyle Wood Nancy Hwanhee Yoo Tom Brooks Ambro...,1,4,5,6,8,10,11,11,11,11
15,Plant Communities Data Entry 2017(1) (1) (1).xlsx,16,Thursday 10am,Kate Lydia Kate and Zoe,3,4,5,5,5,6,8,8,8,11
16,Plant Communities Data Entry 2017(1) (1) (2).xlsx,17,Thursday 10am,Jessica Laura; Suyuan(Kelly) Wang; Mel Jane; Y...,2,5,8,9,9,11,12,13,14,14
17,Plant Communities Data Entry 2017(1) (1).xlsx,18,Thursday 10am,Billy Janssen Ricky Chen,5,7,7,8,10,11,12,13,13,17
18,Plant Communities Data Entry 2017(1) (10).xlsx,19,thurs 10am,nadia arlea sabrina another person,5,6,8,10,11,13,13,15,15,18
19,Plant Communities Data Entry 2017(1) (11).xlsx,20,Friday 10am,Tom Anderson Tom Stevenson Lori Sandeman and...,2,4,6,7,8,8,10,11,12,12
20,Plant Communities Data Entry 2017(1) (12).xlsx,21,Friday 10 a.m.,Kylle Quinn; Srithti Gautam; Tianyi Sun; Zuoru...,3,4,4,5,6,6,6,6,6,7
21,Plant Communities Data Entry 2017(1) (13).xlsx,22,NaN,Plant Communities Data Entry 2017(1) (13).xlsx...,2,5,6,9,9,9,11,13,14,15
22,Plant Communities Data Entry 2017(1) (14).xlsx,23,Friday 10am,Yang Yee Lai Jianliang Ye Wang Chit Wong,3,4,6,8,8,9,9,9,9,9
23,Plant Communities Data Entry 2017(1) (15).xlsx,24,NaN,Plant Communities Data Entry 2017(1) (15).xlsx...,0,0,0,0,0,0,0,0,0,0
24,Plant Communities Data Entry 2017(1) (16).xlsx,25,Friday 10 am,Monika Blankenburgs Gracie Doherty Lily Alle...,3,4,5,5,5,7,9,9,11,11
25,Plant Communities Data Entry 2017(1) (17).xlsx,26,Thursday 10am,Rebecca Vincent Esther Wong Carol Han Lydia...,4,5,6,8,12,12,12,13,13,16
26,Plant Communities Data Entry 2017(1) (18).xlsx,27,Friday 10am,Kent Bennett Ben Ferraro Tabitha Ow Daniel ...,4,5,5,5,5,5,6,6,10,12
27,Plant Communities Data Entry 2017(1) (2).xlsx,28,Thursday 2.15pm,Bao Ngoc Duong Yanting Zhang Noran Nur Munir...,2,3,4,6,6,6,7,7,9,11
28,Plant Communities Data Entry 2017(1) (3).xlsx,29,Thursday 10AM,Amy Huynh Christina Karagiorgis Joel Lowenth...,4,7,10,10,11,12,13,15,15,17
29,Plant Communities Data Entry 2017(1) (4).xlsx,30,Thursday 2:15 PM,Laura Aya Allahham two others,3,7,7,11,12,13,16,17,17,18
30,Plant Communities Data Entry 2017(1) (5).xlsx,31,Thursday 2:15pm,Isaac Langford Nadia Satrio Pema Tshering S...,2,5,7,9,12,12,13,13,14,14
31,Plant Communities Data Entry 2017(1) (6).xlsx,32,Thursday 2.15pm,Jack Lucas Daniel Rees Joe Hwang Ofelia Che...,4,6,8,8,8,8,9,9,9,10
32,Plant Communities Data Entry 2017(1) (7).xlsx,33,Thursday 10am,Syarafina Alistair Michelle ?,0,0,0,0,0,0,0,0,0,0
33,Plant Communities Data Entry 2017(1) (8).xlsx,34,"Thursday, 2:15pm",Oshini Coco Tahli,3,7,8,9,13,13,13,14,16,16
34,Plant Communities Data Entry 2017(1) (9).xlsx,35,Friday 10am,Jinglan Wang Lief Chan Tara Pedersen Synn C...,3,4,6,8,8,9,9,10,12,12
35,Plant Communities Data Entry 2017.xlsx,36,Friday 10am,Andrew Penman Julie Kisslinger Adela Jarmasz...,4,6,9,9,10,11,12,12,14,17
36,Plant Communities Data Entry 2017vslef.xlsx,37,Friday 10am,Diana Qi Jingyi Zhang Hanghao Du Pufan Zheng,2,3,3,3,4,5,7,7,8,8
37,Plant Communities Data Entry EE.xlsx,38,Thursday 10am,Phoebe McIntosh Caitie Sampson Atshaya Jayad...,5,6,9,9,11,12,12,12,12,12
38,Plant Communities Data Entry Thurspm.xlsx,39,Thursday PM,Teja Binti-Solah James Benson Darcy Bennett ...,6,11,13,16,20,20,20,20,21,22
39,Plant Communities Data Entry.xlsx,40,Thursday 10AM,Leanne Lily Abbey Eliza,5,8,11,14,15,16,17,18,19,20
40,Plant Communities Data Entry_THURS PM.xlsx,41,THURS PM,Natasha Merve George Rumi Cindy (?),7,9,9,11,11,12,13,13,16,16
41,Plant-Communities-Data-Entry-2017.xlsx,42,Thursday 2:15pm,Chethana Siriwardana Kelley Leech Jasper (La...,7,10,11,12,12,13,13,13,13,14
42,Thurs PM Plant Communities Data Entry 2017(1)....,43,Thursday pm,Nathan G Nathan W + two others,4,8,11,12,13,14,14,14,14,14
43,Thursday AM - Plant Communities Data Entry 201...,44,Thursday 10am,Dale StÃ©phane and Joiee,6,10,10,10,11,14,16,16,17,17
44,THURSDAY AM - Plant Communities Data Entry 201...,45,Thursday 10am,Chai Somkiat Max Collett Annabelle Erksine ...,4,5,6,7,9,9,9,12,13,14
45,TOVEY LY BUSH Plant-Communities-Data-Entry-201...,46,Thursday 2pm,Monica Ly Jack Tovey and Jeremy Bush,2,4,4,6,8,10,11,11,12,14

### 5.) Now here is the annoying part, you need to mix together the additional species
- What I have found is that multiple teams will fill in the same cover type of additional species i.e. Moss
    - And we want to capture that for the study
- You are creating a dictionary below (see the 2017 examplebelow
- You will need to create key value pairs in your dictionary where the keys are the names of the extra species
    - Key - the name of the species that multiple people sampled
    - value pair, a list of the ID numbers up above (left most column) that fall within that category

In [8]:
df_quad_out[51:]

,0,1,2,3,Copy of Plant Communities Data Entry 2017 Thursday AM.xlsx_1_noprac,Olivia King Sandy Lu & Julia Trevorah,Laura Solly Esther Cowen â€¦,Sonia Metz. Sarah Willington Ruashaan Seychell Theodore,Andrew Penman Julie Kisslinger Adela Jarmasz Tahlia Downie,Aiden Ryan Tim James,...,Phoebe McIntosh Caitie Sampson Atshaya Jayadev Sally Bolt,Teja Binti-Solah James Benson Darcy Bennett Ethan Bernadini Hamish Bignell India Ambler Kayley Alesia Beer Reem Allahham,Leanne Lily Abbey Eliza,Natasha Merve George Rumi Cindy (?),Chethana Siriwardana Kelley Leech Jasper (Last Name?) Wey Yao Wong,Nathan G Nathan W + two others,Dale StÃ©phane and Joiee,Chai Somkiat Max Collett Annabelle Erksine Ned Parnham,Monica Ly Jack Tovey and Jeremy Bush,sum
73,Additional Species Here,Vulpia Bromoides,NaN,Fescue,0.0,0.0,16.666667,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,16.666667
74,NaN,NaN,NaN,Moss,0.0,0.0,0.083333,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.083333
75,Additional Species Here,Litter,NaN,NaN,0.0,0.0,0.000000,25.666667,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,25.666667
77,Additional Species Here,Crassula sieberiana,NaN,Austral Stonecrop,0.0,0.0,0.000000,0.000000,0.000000,0.666667,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.666667
78,NaN,NaN,NaN,Moss,0.0,0.0,0.000000,0.000000,0.000000,20.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,20.000000
79,Additional Species Here,NaN,NaN,Fleshy Red Stem,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.333333
80,NaN,NaN,NaN,Fleshy Red Stem,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.000000
81,NaN,Poa sp.,NaN,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.333333
82,Additional Species Here,LEAF LITTER,NaN,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,10.666667
83,Additional Species Here,Litter,NaN,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,33.333333
84,Additional Species Here,Ceratodon purpureus,NaN,couldn't get a proper ID but it looks very sim...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,8.666667
85,Additional Species Here,*Taraxacum officinale,NaN,Dandelion,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.266667
86,NaN,Moss,NaN,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.001667
87,Additional Species Here,NaN,NaN,Unknown herb,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.166667
88,NaN,NaN,NaN,Moss,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.166667
89,Additional Species Here,NaN,NaN,Lamandra,0.0,0.0,0.000000,0.000000,0.666667,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.666667
90,Additional Species Here,Aira sp.,NaN,Hair Grass,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.083333,0.000000,0.000000,0.0,0.000000,0.083333
91,NaN,NaN,NaN,Moss,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,5.333333,0.000000,0.000000,0.0,0.000000,5.333333
92,NaN,NaN,NaN,Litter,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,53.333333,0.000000,0.000000,0.0,0.000000,53.333333
93,Additional Species Here,NaN,NaN,Lomandra longifolia,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,1.333333,0.000000,0.0,0.000000,1.333333
94,NaN,NaN,NaN,Nassella trichotoma,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,1.333333,0.000000,0.0,0.000000,1.333333
95,NaN,NaN,NaN,Moss,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.000000,0.333333
96,NaN,NaN,NaN,Leaf litter,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,17.666667,0.000000,0.0,0.000000,17.666667
97,NaN,POACEAE,NaN,Short Soft Grass,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,6.666667,0.0,0.000000,6.666667
98,Additional Species Here,Crassula sieberiana,NaN,Austral stonecrop,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.333333,0.333333
99,NaN,NaN,NaN,Moss,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.666667,0.666667

In [9]:
#If you just want to look at the first column of labels in the additional species
df_quad_out.iloc[51:,1].dropna()

73         Vulpia Bromoides
75                   Litter
77      Crassula sieberiana
81                  Poa sp.
82              LEAF LITTER
83                   Litter
84      Ceratodon purpureus
85    *Taraxacum officinale
86                     Moss
90                 Aira sp.
97                  POACEAE
98      Crassula sieberiana
Name: 1, dtype: object

In [10]:
#If you just want to look at the first column of labels in the additional species
df_quad_out.iloc[51:,3].dropna()

73                                               Fescue
74                                                 Moss
77                                    Austral Stonecrop
78                                                 Moss
79                                      Fleshy Red Stem
80                                      Fleshy Red Stem
84    couldn't get a proper ID but it looks very sim...
85                                            Dandelion
87                                         Unknown herb
88                                                 Moss
89                                             Lamandra
90                                           Hair Grass
91                                                 Moss
92                                               Litter
93                                 Lomandra longifolia
94                                  Nassella trichotoma
95                                                Moss
96                                          Leaf litter
97                                     Short Soft Grass
98                                    Austral stonecrop
99                                                 Moss
Name: 3, dtype: object

In [11]:
#This is an example from 2017

mix_dict_2017 = {'Moss':[73,77,85,87,90,94,97],
            "Fleshy red stem":[78,79],
            #'Austral Stonecrop':[76,97],
            'Hair Grass':[89],
            'unknown herb':[86],
            'Lamandra':[88,92],
            'Litter':[74,75,81,82,91,95],
            'Dandelion':[84],
            'poa sp':[80],
            'short soft grass':[22,96], ###!!!! Note that the first number is alwasy the lowest one, this example links to a known Specides
            'caratoden purpureus':[83]
           }

In [12]:
mix_dict_2018 = {'Moss':[],
                 'litter':[],
                 "additional species x":[], # note change the name and add integers into the list pertaining to the numbers above
                }

In [13]:
#note additional removal of sheet names etc
df_quad_out = Grass_sort.address_unk(df_quad_out, mix_dict_2017)
df_quad_out = df_quad_out.drop(2,axis=1)
df_nq_out = df_nq.drop('sheet',axis=1)
df_ws_out = df_ws.drop('sheet',axis=1)

### Last step, save them as csvs
- Note they will save in the Sort_folder,
- Also with the Abundance data, you should check to make sure the names and family of the additional species are right 
- There might be some extra rows to delete in the abundance data as well

In [14]:
df_quad_out.to_csv(path_or_buf='abundance_20172.csv',encoding='utf-8', index=False)
df_ws_out.to_csv(path_or_buf='Wanderingsearch_20172.csv',encoding='utf-8', index=False)
df_nq_out.to_csv(path_or_buf='NestedQuadrats_20172.csv',encoding='utf-8', index=False)